- return unless @project.feature_available?(:tracing, current_user) && can?(current_user, :read_environment, @project)

- if project_nav_tab? :settings
  = nav_link(controller: :tracings, action: [:show]) do
    - if @project.tracing_external_url.present?
      = link_to @project.tracing_external_url, target: "_blank", rel: 'noopener noreferrer' do
        %span
          = _('Tracing')
          %i.strong.ml-1.fa.fa-external-link
    - else
      = link_to project_tracing_path(@project), title: _('Tracing') do
        %span
          = _('Tracing')
